@import 'tailwindcss';

body {
  .dwarven-background::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/dwarven-hammer.svg');
    background-position: center;
    background-size: 80%;
    opacity: 0.12;
    transform: rotate(20deg);
    z-index: 1;
    pointer-events: none;
    filter: invert(26%) sepia(9%) saturate(1042%) hue-rotate(169deg) brightness(94%) contrast(88%); /* Makes it #2F4858 to match the deep granite color */
  }
}
